{{#each guests as | guest |}}
    <li data-id="{{guest.id}}" data-room="{{guest.room_number}}" data-name="{{guest.guest_name}}" data-folio="{{guest.folio_number}}" class="guest-id">
       <a href="javascript:;">
           No Kamar {{guest.room_number}}
           ({{guest.guest_name}})
       </a>
    </li>
{{else}}
<div class="alert alert-warning text-center m-2">Tidak Ada Daftar Tamu!</div>
{{/each}}