<!-- App Header -->
<div class="appHeader scrolled">
    <div class="left">
        <a href="/" data-link class="headerButton">
            <svg class="icon bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">

    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section mt-2">
        <h3 class="text-center">Transaksi berhasil</h3>
        <p class="text-muted text-center mb-3" id="t-date">{{time}}</p>

        <div class="mb-2 d-flex justify-content-between">Tipe pembayaran <span id="payment-method"
                class="text-right">{{pay_method}}</span></div>
        <div class="mb-2 d-flex justify-content-between">Order ID <span id="order-id" class="text-right">00000001</span>
        </div>
    </div>

    <div class="listview-title">Daftar item</div>
    <ul class="listview image-listview media basket-items">
        {{#each basket.items as | item |}}
        <li>
            <div class="item">
                <div class="in">
                    <div class="text-item">
                        {{ item.name }}
                        <div class="text-muted">{{ item.qty }} x Rp{{ [helpers/currency] item.price}}</div>
                    </div>
                    <div>
                        {{#if ([helpers/equal] item.priceAfterDiscount 0)}}
                            Rp{{ [helpers/currency] item.total }}
                        {{else}}
                            {{#if ([helpers/equal] type 'basket')}}
                            <strike>Rp{{ [helpers/currency] item.total }}</strike> ({{item.discount}}%) Rp{{[helpers/currency] item.priceAfterDiscount}} 
                            {{else}}
                            <strike>Rp{{ [helpers/currency] item.total }}</strike> ({{item.disc}}%) Rp{{[helpers/currency] item.priceAfterDiscount}} 
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </li>
        {{else}}
        <li>
            <div class="flex-grow-1 text-center p-2">
                Tidak ada item
            </div>
        </li>
        {{/each}}
    </ul>

    <div class="listview-title mt-2">Transaksi</div>
    {{#if ([helpers/equal] type 'basket')}}
    <ul class="listview simple-listview">
        <li>Jumlah item <span class="text-bold" id="total-qty">{{basket.totalQty}}</span></li>
        <li>Total <span class="text-bold" id="total-payment">Rp{{[helpers/currency] basket.totalPrice}}</span></li>
        <li class="d-none">Diskon <span class="text-bold" id="total-disc"></span></li>
        <li class="d-none">Total Pembayaran <span class="text-bold" id="total-after-disc"></span></li>
        <li>Pembayaran <span class="text-bold" id="cash_receive">Rp{{[helpers/currency] basket.payment.total_payment}}</span></li>
        <li>Kembalian <span class="text-bold" id="refund">Rp{{[helpers/currency] basket.payment.refund}}</span></li>
    </ul>
    {{else}}
    <ul class="listview simple-listview">
        <li>Jumlah item <span class="text-bold" id="total-qty">{{basket.totalqty}}</span></li>
        <li>Total <span class="text-bold" id="total-payment">Rp{{[helpers/currency] basket.total_prices}}</span></li>
        <li class="d-none">Diskon <span class="text-bold" id="total-disc"></span></li>
        <li class="d-none">Total Pembayaran <span class="text-bold" id="total-after-disc"></span></li>
        <li>Pembayaran <span class="text-bold" id="cash_receive">Rp{{[helpers/currency] basket.payment.total_payment}}</span></li>
        <li>Kembalian <span class="text-bold" id="refund">Rp{{[helpers/currency] basket.payment.refund}}</span></li>
    </ul>
    {{/if}}

    <div class="section pt-4 pb-4">&nbsp;</div>

    <div class="form-button-group">
        <button type="button" id="print-receive-btn" class="btn btn-primary btn-block btn-lg">
            Cetak struk
        </button>
    </div>
</div>
<!-- * App Capsule -->