<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {{#if ([helpers/equal] type "month")}}
                <th scope="col">Tanggal</th>
                {{else}}
                <th scope="col">Bulan</th>
                {{/if}}
                <th scope="col" class="text-right">Transaksi</th>
                <th scope="col" class="text-right">Penjualan</th>
            </tr>
        </thead>
        <tbody>
            {{#if ([helpers/equal] type "month")}}
                {{#each transaction_data as | item |}}
                <tr>
                    <th scope="row">{{[helpers/date_format] item.day 'Full'}}</th>
                    <td class="text-right">{{item.trx_count}}</td>
                    <td class="text-right">Rp{{[helpers/currency] item.trx_total_prices}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3" class="text-center"><i>Belum Ada Transaksi</i></td>
                </tr>
                {{/each}}
            {{else}}
                {{#each transaction_data as | item |}}
                <tr>
                    <th scope="row">{{[helpers/date_format] item.month 'Year'}}</th>
                    <td class="text-right">{{item.trx_count}}</td>
                    <td class="text-right">Rp{{[helpers/currency] item.trx_total_prices}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3" class="text-center"><i>Belum Ada Transaksi</i></td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>