{{#each transactions as | transaction |}}
<li class="trx-item">
    <a href="/transaction/{{ transaction.id }}" class="item item-transaction" data-link
        data-trx_id="{{ transaction.id }}">
        <div class="in">
            <div class="w-50">
                <div>#{{ transaction.trx_number }}</div>
                <div class="text-muted">{{ transaction.trx_date }}</div>
            </div>
            <div class="flex-grow-1">
                <span class="badge {{ transaction.status.badge }} mr-3">{{ transaction.status.name }}</span>
            </div>
            <div class="font-weight-bold">{{[helpers/currency] transaction.total 2 }}</div>
        </div>
    </a>
</li>
{{else}}
<li class="justify-content-center">
    <div class="text-center py-3">Belum ada transaksi.</div>
</li>
{{/each}}