<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <a href="javascript:history.back()" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
        Detail Transaksi
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

{{!-- App Capsule --}}
<div id="appCapsule">
    <div class="listview-title">Informasi Transaksi</div>
    <ul class="listview simple-listview">
        <li>
            No Transaksi
            <span>{{ data.trx_number }}</span>
        </li>
        <li>
            Tanggal Transaksi
            <span>{{ data.trx_date }}</span>
        </li>
        {{!-- <li>
            Nomor Meja
            <span id="nomor-meja">{{ data.table.name }}</span>
        </li> --}}
        {{#if ([helpers/nequal] data.guest_name null)}}
        <li>
            Nama Tamu
            <span>{{ data.guest_name }} </span>
        </li>
        {{/if}}
        <li>
            Tipe
            <span>{{ data.outlet.name }}</span>
        </li>
        <li>
            Status
            <span class="badge {{ data.status.badge }}">{{ data.status.name }}</span>
        </li>
        <li>
            Subtotal
            <span>{{ [helpers/currency] data.total_sub 2 }}</span>
        </li>
        <li>
            Diskon
            <span>{{ discount }}</span>
        </li>
        <li>
            Round
            <span>{{ [helpers/currency] data.round 2 }}</span>
        </li>
        <li>
            Total
            <span class="font-weight-bold">{{ [helpers/currency] data.total 2 }}</span>
        </li>
    </ul>
    <div class="listview-title mt-2">Informasi Pembayaran</div>
    <ul class="listview simple-listview">
        <li>
            Tipe Pembayaran
            <span>{{ data.payment.payment_method }}</span>
        </li>
        <li>
            Tanggal Pembayaran
            <span>{{ data.payment.payment_date }}</span>
        </li>

        <li>
            Total Pembayaran
            <span>{{ [helpers/currency] data.payment.total_payment 2 }}</span>
        </li>
        <li>
            Kembalian
            <span>{{ [helpers/currency] data.payment.refund 2 }}</span>
        </li>
    </ul>

    <div class="listview-title mt-2">Daftar Items</div>
    <ul class="listview image-listview media items-list">

    </ul>
</div>
{{!-- * App Capsule --}}

{{!-- Bottom Menu --}}
{{#if ([helpers/equal] data.status.name 'Draft')}}
<div class="appBottomMenu">
    <a href="/pos/draft" data-link class="btn btn-success btn-block" id="btn-initiate">Lanjutkan Transaksi</a>
</div>
{{/if}}
{{!-- * Bottom Menu --}}