{{#each items as | item |}}
<li class="product">
    <div class="item">
        <div class="imageWrapper">
            <img src="/images/placeholder.jpg" alt="image" class="imaged w48">
        </div>
        <div class="in">
            <div>
                {{item.name}}
                <div class="text-muted">{{item.qty}} X {{#if ([helpers/nequal] item.discount
                    0)}}<s>{{[helpers/currency]
                        item.price 2}}</s>{{else}}{{[helpers/currency] item.price 2}}{{/if}} </div>
                {{#if ([helpers/nequal] item.discount 0)}}
                <div class="text-muted">{{[helpers/currency] item.price_after_disc 2}}
                    (disc
                    {{item.discount}}%)</div>{{/if}}
                {{#if ([helpers/nequal] item.note '')}}
                <div class="text-muted">*{{ item.note }}</div>
                {{/if}}
            </div>
            <span>{{[helpers/currency]item.total 2}}</span>
        </div>
    </div>
</li>
{{/each}}